#app {
  padding: 0;
  margin: 0 auto;
  font-weight: normal;
}

.has-navbar {
  padding-top: $nav-bar-top-padding;
}

body {
  // Typography
  background-color: $bg;
  font-family: Arima;
  color: $primary-text;
  display: flex;

  h1 {
    font-size: 22px;
    line-height: 1;
    font-family: 'Open Sans';
    font-weight: 700;
    color: $primary-text-emphasis;
  }
  .subheader {
    font-size: 14px;
    font-family: 'Open Sans';
    font-weight: 700;
    color: $primary-text-emphasis;
  }
  p {
    font-size: 14px;
    font-family: 'Arima';
    font-style: normal;
  }
  ul {
    padding: 0 12px;
  }

  @media (min-width: $desktop-width) {
    h1 {
      font-size: 64px;
    }
    .subheader,
    p,
    li {
      font-size: 24px;
    }
  }

  // Other shit idk
  a,
  .link- {
    text-decoration: none;
    color: $secondary-lighter;
    transition: 0.4s;
  }

  @media (hover: hover) {
    a:hover {
      background-color: hsla(43, 42%, 75%, 0.2);
    }
  }

  .title-card {
    h1 {
      font-size: 96px;
    }
    div {
      font-size: 24px;
    }
  }
}
