$bg: #1b1b1b;

$primary-darker: #383737;
$primary: #edeae0;
$primary-lighter: #fffff0;

$secondary-darkest: #786d51;
$secondary-darker: #ccb975;
$secondary: #dac781;
$secondary-lighter: #dacba4;
$secondary-lightest: #ebe8e6;

// Text
$primary-text: #fefefa;
$primary-text-emphasis: #fafafa;
